<form method="post" action="{{ path('blog_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn_a"><i class="material-icons-round red-text">delete</i></button>
</form>


{# <form method="post" action="{{ path('blog_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn_delete"><img title="Supprimer" src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/64/000000/external-trash-user-interface-kmg-design-detailed-outline-kmg-design.png"/></button>
</form> #}